body {
  margin: 0;
  font-size: 100%;
  line-height: 2;
  font-family: monospace;
}

.responses {
  font-size: .5rem;
}

.me {
  width: 100%;
  font-size: .5em;
  padding: .2em .5em;
  color: #5fce37;
  background-color: #111;
}


.me.playing {
  color: #ceba37;
}

.active {
  background-color: black;
  color: white;
}
