* {
  box-sizing: border-box;
}

html,
body,
#app,
.app-root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-size: 100%;
  line-height: 2;
  font-family: monospace;
}

/* Status Bar */

.me {
  position: absolute;
  z-index: 10;
  width: 100%;
  font-size: .5em;
  text-align: right;
  padding: .2em .5em;
  color: #5fce37;
  background-color: #111;
}

.me.connecting {
  color: #ce7e37;
}

.me.playing {
  color: #ceba37;
}

/* Controls */

.player-controls {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 10%;
  bottom: 0;
}

.player-controls a {
  display:block;
  position:relative;
  color: #000;
  text-align: center;
  width: 33.33333%;
  height: 100%;
  float: left;
}

.player-controls a .label {
  width: 100%;
}

/* Display */

.display {
  position: absolute;
  text-align: center;
  top:0;
  bottom: 10%;
  width: 100%;
}

#rock-paper-scissors {
  height: 100%;
}

svg,
path,
rect {
  transition: .5s all;
}
