* {
  box-sizing: border-box;
}

html,
body,
#app,
.app-root {
  height: 100%;
  background-color: #111;
}

.app-root.game {
  overflow: hidden;
}

.app-root.splash {
  cursor: pointer;
}

body {
  margin: 0;
  font-size: 100%;
  line-height: 2;
  font-family: monospace;
}

/* Splash */

.entry {
  text-align: center;
  font-size: 2em;
  color: #fff;
  background-color: #111;
}

.entry svg {
  margin: 3em 10%;
  width: 60%;
}



/* Status Bar */

.me {
  position: absolute;
  z-index: 10;
  width: 100%;
  font-size: .8em;
  text-align: right;
  padding: .2em .5em;
  color: #5fce37;
  background-color: #111;
}

.me.connecting {
  color: #ce7e37;
}

.me.playing {
  color: #ceba37;
}

.me .pair {
  float:left;
  cursor: pointer;
}

/* Controls */

.player-controls {
  position: absolute;
  z-index: 80;
  width: 100%;
  height: 18%;
  bottom: 0;
}

.player-controls a {
  display:block;
  position:relative;
  text-align: center;
  width: 33.33333%;
  height: 100%;
  padding: .5em;
  float: left;
}

.player-controls a .button {
  height: 100%;
}

.player-controls a .label {
  display: block;
  width: 100%;
  margin: 1em 0;
}

/* Display */

.display {
  position: absolute;
  z-index: 90;
  text-align: center;
  top:1em;
  bottom: 15%;
  width: 100%;
}

#rock-paper-scissors {
  height: 100%;
}

.banner {
  position:absolute;
  z-index: 100;
  top: 30%;
  left: 0;
  right: 0;
  font-size: 3em;
  text-align: center;
}

.blink {
  position:absolute;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 3em;
  text-align: center;
}

svg,
path,
rect {

}
